@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

/* --------спрятать текст---------- */
.section--visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*-----------утиллиты----------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #757575;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-accent-color {
  color: #2196f3;
}

.page-header,
.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
}

.site-nav__link,
.auth-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__item:last-child {
  margin-left: 30px;
}

.site-nav__current {
  position: relative;
  color: #2196f3;
}

.site-nav__current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  border: 2px solid #2196f3;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-nav__link:hover,
.site-nav__link:focus,
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/overlay.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin: auto;
  width: 696px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.bottom:focus {
  background-color: #188ce8;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-detail::before {
  background-image: url(../images/icon/antenna.svg);
}

.icon-accuracy::before {
  background-image: url(../images/icon/clock.svg);
}

.icon-planing::before {
  background-image: url(../images/icon/diagram.svg);
}

.icon-space::before {
  background-image: url(../images/icon/astronaut.svg);
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.section-work {
  padding-bottom: 94px;
}

.work__list {
  display: flex;
}

.list__img:not(:last-child) {
  margin-right: 30px;
}

.container > .section__title {
  margin-bottom: 50px;
}

.work__thumb {
  position: relative;
}

.work__thumb::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #2f303a;
  opacity: 0.8;
}

.work__item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.card__item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  margin-top: 30px;
}

.card__content {
  padding: 30px 32px;
  text-align: center;
}

.tiam__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: none;
  color: #212121;
}

.section__backgroung {
  background-color: #f5f4fa;
}

.work__title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.social__list {
  display: inline-flex;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.clients__list {
  display: flex;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.clients__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  height: 90px;
  width: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-card {
  display: flex;
  flex-basis: calc((50% - 45px) / 2);
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo-main-color {
  color: #ffffff;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.footer-nav {
  flex-direction: column;
  margin-top: 9px;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: #2196f3;
}

.footer-nav__item:not(:first-child) {
  margin-top: 9px;
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-card .social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-card .social__icon {
  fill: #ffffff;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
}

.card-news {
  flex-basis: calc(50% - 15px);
}

.news__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.forms {
  display: flex;
}

.forms .input {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
}

.button__title {
  width: 200px;
  margin-top: 0;
  margin-left: 12px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  fill: #2196f3;
  outline-color: #2196f3;
}

.modal__text {
  position: absolute;
  top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.form {
  margin-bottom: 20px;
  width: 448px;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__icon:hover,
.form__icon:focus {
  fill: #2196f3;
  outline-color: #2196f3;
  cursor: pointer;
}

.form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover,
.form__textarea:focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.checkbox__input {
  appearance: none;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon:hover,
.checkbox__icon:focus {
  border: 2px solid #212121;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.contract__link {
  margin: 0px;
  margin-left: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
}

.form__submit {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__submit:hover,
.form__submit:focus {
  color: #ffffff;
  background: #188ce8;
}

.button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button__filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__item:not(:last-child) {
  margin-right: 8px;
}

.button__filter.current,
.button__filter:hover,
.button__filter:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item:hover,
.card-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb__link {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.thumb__link::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #188ce8;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb__text {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover .thumb__link::before,
.card-set__link:hover .thumb__text,
.card-set__link:focus .thumb__link::before,
.card-set__link:focus .thumb__text {
  opacity: 0.9;
  transform: translateY(0);
}

.content__link {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.content__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-transform: none;
}

.content__text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */